<div class="modal-product-view-overlay">

</div>
<div class="modal-product-view-container">
    <div class="modal-product-view-image">
        <img [src]="product()?.imageUrl" alt="{{ product()?.name }}">
    </div>
    <div class="modal-product-view-details">
        <h2>{{ product()?.name}}</h2>
        <p>{{ product()?.description}}</p>
        <h4> {{ product()?.soldPrice }} FCFA</h4>
        <h4 class="text-decoration-line-through regular "> {{product()?.regularPrice }} FCFA</h4>
        <p>Cree le {{product()?.createdAt | date:'dd/MM/yyyy' }}</p>
    </div>
    <button class="btn btn-close" (click)="onCloseClick()"></button>

</div>